

*.egg-info

node_modules/

dist/
build/
venv/
.venv/
__pycache__/

.pytest_cache/
AdventureWorksDW2019.bak

.vscode/
.ruff_cache/

*.code-workspace

.temp
.cache

.preql

.preql_cache.json
.preql-cache.json

.mypy_cache

memory.db

tests/modeling/tcp_ds_duckdb/memory/
tests/modeling/tpc_ds_duckdb/memory/
duckdb_temp_storage-*.tmp
*.parquet
