pytest
pytest-cov
pytest-mock
duckdb
duckdb-engine
mypy
ruff
black
pandas<3.0.0
types-tabulate
sqlalchemy-bigquery
#fakesnow needs an upgrade to support 1.9; it calls CURRENT_VERSION which isn't mocked and hits duckdb
snowflake-sqlalchemy<1.9.0
fakesnow
matplotlib
tomli-w
types-tabulate
httpx
maturin
fastapi
uvicorn
altair
plotext